*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar  */

#navbar .navbar{
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1000 !important;
    background: linear-gradient(96deg, rgba(0, 0, 0, 0.286) 0%, rgba(0, 0, 0, 0.286) 100%);;
    border-bottom: 1px solid #11A7D9 !important;
}
#navbar nav .container .navbar-brand{
    font-size: 2rem !important;
    font-weight: 700;
    color: #fff !important;
}
/* #navbar nav .container .navbar-brand .spancolor{
    color: #11A7D9 !important;
} */
.spancolor{
    color: #11A7D9 !important;
}
#navbar nav .container .nav-item .nav-link:hover,
#navbar nav .container .nav-item .nav-link:focus{
    color: #11A7D9 !important;
    border-bottom: 3px solid #11A7D9 !important;
}
#navbar nav .container .nav-item .nav-link{
    padding-bottom: 10px !important;
    border-bottom: 4px solid transparent !important;
    transition: .5s !important;
    color: #fff !important;
    font-weight: 500;
}


/* navbar  */


/* home */
#main-home{
    border-bottom: 1px solid #11A7D9 !important;
}
#mainhome .main-image img{
    border-bottom: 1px solid #11A7D9 !important;
    transform: scaleX(-1) !important; 
}
#mainhome .main-image .image-text{
    font-family: sans-serif !important;
    text-transform: uppercase !important;
    color: #fff;
    position: absolute !important;
    top: 200px !important;
    left: 100px !important;
}
#mainhome .main-image .image-text .textaligning1{
    text-align: left !important;
}
#mainhome .main-image .image-text .textaligning2{
    text-align: center !important;
    font-size: 4rem !important; 
    font-family: serif !important;
}
#mainhome .main-image .image-text .textaligning3{
    text-align: right !important;
}
/* home */

/* about */

#about{
    padding-bottom: 50px !important;
    border-bottom: 1px solid #11A7D9 !important;
}
#about .container .image-text{
    text-transform: uppercase !important;
    color: #fff !important;
}

#about .container .team-card img{
    border: 1px solid #11A7D9 !important;
}
#about .container .team-card .card-text{
    color: #fff !important;
    text-align: center !important;
}

#about .rightslideicon{
    font-size: 5rem !important;
    color: #fff !important;
    background-color: transparent !important;
    background:#111;
    color:  #292b2c !important;
    text-shadow:1px 1px 10px #11A7D9, 1px 1px 10px #11A7D9;
    font-size:48px;
    text-align:center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
#about .rightslideicon .fa-caret-left{
    padding: 0px !important;
}
#about .rightslideicon:hover{
    transition: all .5s ease-in-out;
    color: #11A7D9 !important;
}


#about .setcarouselwidth{
    width: 80% !important;
}
/* about */

/* service */
#service{
    border-bottom: 1px solid #11A7D9 !important;
}
#service .container-fluid{
    width: 100% !important;
    background: url(../images/backgroundimage.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px !important;
}


#service .container-fluid .container .image-text{
    text-transform: uppercase !important;
    color: #fff !important;
}
#service .container-fluid .container .image-text h1{
    font-size: 3.5rem !important;
}
#service .container-fluid .container .image-text h2{
    font-size: 2rem !important;
}
#service .container-fluid .container .image-text p{
    text-align: left !important;
}
#service .container-fluid .container .image-text p i{
    margin-right: 20px !important;
    color: #11A7D9 !important;
}
#service .container-fluid .container .image-text .btn-outline-primary{
    color: #11A7D9 !important;
    border-color: #11A7D9 !important;
    border-radius: 0px !important;
    font-weight: 800;
    transition: all .5s ease-in-out;
}
#service .container-fluid .container .image-text .btn-outline-primary:hover{
    color: #fff !important;
    background-color: #11A7D9 !important;
    transition: all .5s ease-in-out;
}
/* service */

/* testimonial */


#testimonial {
    padding-bottom: 100px !important;
    border-bottom: 1px solid #11A7D9 !important;
    margin-top: 100px !important;
}
#testimonial .container .image-text{
    text-transform: uppercase !important;
    color: #fff !important;
}

#testimonial .container-fluid .team-card img{
    border: 1px solid #11A7D9 !important;
    border-radius: 50% !important;
}
#testimonial .container-fluid .team-card .card-text{
    color: #fff !important;
    text-align: center !important;
}

#testimonial .rightslideicon{
    font-size: 5rem !important;
    color: #fff !important;
    background-color: transparent !important;
    background:#111;
    color:  #292b2c !important;
    text-shadow:1px 1px 10px #11A7D9, 1px 1px 10px #11A7D9;
    font-size:48px;
    text-align:center;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-left: -500px !important;
}
#testimonial .leftslideicon{
    margin-right: -1000px !important;
}
#testimonial .rightslideicon .fa-caret-left{
    padding: 0px !important;
}
#testimonial .rightslideicon:hover{
    transition: all .5s ease-in-out;
    color: #11A7D9 !important;
}
#testimonial .setcarouselwidth{
    width: 20% !important;
}

#testimonial .fontsizing h4{
    font-size: 1rem !important;
}
#testimonial .fontsizing h5{
    font-size: 1.5rem !important;
    text-transform: uppercase !important;
}
#testimonial .fontsizing{
    width: 100% !important;
}

/* testimonial */

/* contact */
.contact{
    background: url(../images/contactimage.jpg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #11A7D9 !important;
	padding:50px 0px;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #ffffff;
 font-family: 'Open-sans',sans-serif;
 color:#ffffff;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#ffffff;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #11A7D9;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#ffffff; 
    border-color:#ffffff;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #11A7D9;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#11A7D9;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #11A7D9;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}
/* contact */

/* responsive */

@media (max-width:998px){
    #mainhome .main-image .image-text{
        top: 150px !important;
        left: 100px !important;
    }
    #mainhome .main-image .image-text .textaligning1{
        font-size: 2rem;
    }
    #mainhome .main-image .image-text .textaligning2{
        font-size: 3rem;
    }
    #mainhome .main-image .image-text .textaligning3{
        font-size: 2rem;
    }

    #about .container .team-card .card-text{
        font-size: 1.2rem;
    }


    #mainhome .main-image .image-text .textaligning1{
        font-size: 1.5rem !important; 
    }
    #mainhome .main-image .image-text .textaligning2{
        font-size: 2rem !important; 
    }
    #mainhome .main-image .image-text .textaligning3{
        font-size: 1.5rem !important; 
    }
    #mainhome .main-image img{
        height: 400px !important;
    }
    #mainhome .main-image .image-text{
        top: 150px !important;
        left: 50px !important;
    }

    #testimonial .rightslideicon{
        font-size: 4rem !important;
        margin-left: 0px !important;
    }
    #testimonial .leftslideicon{
        margin-right: 0px !important;
    }

    .contact .content{
        flex-wrap: wrap;
    }
    .contact .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }


}

@media (max-width:765px){
    #navbar .navbar{
        background: linear-gradient(96deg, rgba(0, 0, 0, 0.700) 0%, rgba(0, 0, 0, 0.700) 100%) !important;
    }
    #navbar .navbar .navbar-nav{
        margin-top: 30px !important;
    }
    #navbar .navbar .navbar-toggler{
        background-color: #fff !important;
    }
    #navbar .navbar .navbar-toggler-icon{
        color: #11A7D9 !important;
    }
    #about .setcarouselwidth {
        display: inline !important;
    }
    #testimonial .carousel-inner{
        width: 80% !important;
        margin: 0px auto !important;
    }
    #about .rightslideicon{
        color: #11A7D9 !important;
        text-shadow:1px 1px 10px #11A7D9, 1px 1px 10px #11A7D9;
    }

}

/* responsive */